#student{
	position: absolute;
	top: 0;
	left: 0;
	background: url(../img/background.png) no-repeat;
	background-size: 100% 100%;
	height: 100%;
	width: 100%;
	opacity: 0;
}
#student img{
	position: absolute;
}
#student img:nth-of-type(1){
	position: absolute;
	top: 2.1%;
	right: 3.5%;
	width: 46.51%;
}
#student img:nth-of-type(2){
	width: 34%;
	bottom: 6%;
	left: 33.76%;
}
.swiper-container{
	position: absolute;
	top: 9.21%;
	left: 7.1%;
	width: 84.77%;
	height: 76.92%;
	z-index: 1;
}
.swiper-button-prev{
	background: none;
	width: 9%;
	height: 8%;
	top: 37%;
	left: 0;
}
.swiper-button-next{
	background:none;
	width: 9%;
	height: 8%;
	top: 37%;
	right: 0;
}
.gg img{
	width: 100%;
	position: absolute;
}
.swiper-container{
	opacity: 0;
}
.gg img:nth-of-type(3){
	z-index: 1;
}
